{{- if and .Values.doToken.value (not .Values.doToken.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
data:
  DO_TOKEN: {{ .Values.doToken.value | b64enc | quote }}
{{- end }}
